<footer class="center">
  <div class="measure">
  <A HREF="https://keybase.io/llllllllllllll" STYLE="text-decoration: none">🔑</a>
  <style>
    a.1{text-decoration:none}
    a.2{text-decoration:underline}
</style>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
